<html>
  <head>
	<title>BANK SEARCH</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
	<script src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>

  </head>

  <body>

		<h1>BANK SEARCH APPLICATION</h1>
		<br/>
	<div ng-app="bankSearch" ng-controller = "myTable">
		City
			<select>
				<option>Select city</option>
				<option>Bangalore</option>
				<option>Chennai</option>
				<option>Delhi</option>
				<option>Hydrabad</option>
				<option>Mumbai</option>
			</select>
			
		Search
			<input type="text" placeholder="Search" ng-model="search">
		
		Rows:
			<select name="state" id="maxRows" class="rowsize" style="width:100px;">
				<option value="10000">All</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="40">40</option>
				<option value="40">50</option>
				<option value="70">70</option>
				<option value="100">100</option>
			</select>
	
	<br/><br/>
			
	<table  class="table table-bordered table-striped" id="banktable">
		<thead>
			<tr>
				<th>Fav</th>
				<th>bankname</th>
				<th>ifsc</th>
				<th>bank_id</th>
				<th>branch</th>
				<th>address</th>
				<th>city</th>
				<th>district</th>
				<th>state</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="ele in bankDetails | filter:search">
				<td><input type="checkbox" id="check"/></td>
				<td>{{ ele.bank_name }}</td>
				<td>{{ ele.ifsc }}</td>
				<td>{{ ele.bank_id }}</td>
				<td>{{ ele.branch }}</td>
				<td>{{ ele.address }}</td>
				<td>{{ ele.city }}</td>
				<td>{{ ele.district }}</td>
				<td>{{ ele.state }}</td>
			</tr>	
		</tbody>
</table>
	<div class="pagination-container">
		<nav>
		<ul class="pagination" id="pagination-demo"></ul>
		</nav>
	</div>
</div>
  </body>
		<script type="text/javascript" src="script.js"></script>
</html>